In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
lf_ca = pd.read_csv("LabForce-CAMSACo.txt")

In [3]:
lf_ca.head()

,stfips,areatype,area,areaname,periodyear,periodtype,period,Adjusted,Preliminary,benchmark,laborforce,emplab,unemp,unemprate
0,6,1,0,California,1990,1,0,Not adj,Not Prelim,2010,15168500,14294100,874400,5.8
1,6,1,0,California,1990,1,0,Not adj,Not Prelim,2014,15138400,14264200,874300,5.8
2,6,1,0,California,1990,3,1,Not adj,Not Prelim,2010,15092800,14244400,848500,5.6
3,6,1,0,California,1990,3,1,Not adj,Not Prelim,2014,14953900,14099700,854200,5.7
4,6,1,0,California,1990,3,1,Adj,Not Prelim,2010,14970700,14194500,776200,5.2

In [4]:
lf_ca['area'].unique()

array([    0,     1,     3,     5,     7,     9,    11,    13,    15,
          17,    19,    21,    23,    25,    27,    29,    31,    33,
          35,    37,    39,    41,    43,    45,    47,    49,    51,
          53,    55,    57,    59,    61,    63,    65,    67,    69,
          71,    73,    75,    77,    79,    81,    83,    85,    87,
          89,    91,    93,    95,    97,    99,   101,   103,   105,
         107,   109,   111,   113,   115, 11244, 12540, 17020, 20940,
       23420, 25260, 31084, 31460, 32900, 33700, 34900, 36084, 37100,
       39820, 40140, 40900, 41500, 41740, 41884, 41940, 42020, 42034,
       42100, 42200, 42220, 44700, 46700, 47300, 49700])

In [5]:
lf_ca['Adjusted'].value_counts()

Not adj    52513
Adj          984
Name: Adjusted, dtype: int64

In [6]:
lf_ca['Preliminary'].value_counts()

Not Prelim    53406
Prelim           91
Name: Preliminary, dtype: int64

In [26]:
fast_occ = pd.read_excel("cal$occfastest.xlsx", header = [2])

In [42]:
names = pd.Series(np.ravel(fast_occ[0:1].values))
names

0                             SOC Code*
1                    Occupational Title
2           Estimated Employment 2012**
3             Projected Employment 2022
4              Percent Change 2012-2022
5         Annual Average Percent Change
6        2014 First Quarter  Wages [1]
7                                   NaN
8     Education and Training Levels [3]
9                                   NaN
10                                  NaN
11                                  NaN
12                                  NaN
13                                  NaN
14                                  NaN
dtype: object

In [56]:
names2 = pd.Series(np.ravel(fast_occ[1:2].values)[7:11])

In [71]:
fast_occ.columns[11:]

Index(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], dtype='object')

In [74]:
fast_occ.drop(fast_occ.columns[11:,], axis=1, inplace=True)

In [75]:
fast_occ.columns = pd.concat([names[0:7], names2], axis=0)

In [80]:
fast_occ.drop([0,1], axis=0, inplace=True)

In [81]:
fast_occ.head()

,SOC Code*,Occupational Title,Estimated Employment 2012**,Projected Employment 2022,Percent Change 2012-2022,Annual Average Percent Change,2014 First Quarter Wages [1],Median Annual,Entry Level Education,Work Experience,On-the-Job Training
2,47-2021,Brickmasons and Blockmasons,5100,8000,0.568627,0.0568627,31.21,64916,7,None,APP
3,39-9021,Personal Care Aides,386900,587200,0.517705,0.0517705,10.33,21473,8,None,ST OJT
4,17-2031,Biomedical Engineers,5400,7700,0.425926,0.0425926,48.9,101708,3,None,None
5,39-5094,Skincare Specialists,5100,7200,0.411765,0.0411765,15.79,32849,5,None,None
6,15-1122,Information Security Analysts,8200,11500,0.402439,0.0402439,49.13,102183,3,<5 years,None